@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 
    class="display-4">Welcome
</h1>
<p>
    <a>This is Home page.</a>.
</p>
</div>
<form  method="get" action="https://www.google.com/search">
   Search: <input type="text" value="" name="q" />
    <input type="submit" value="Google Search" />
</form>
